<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>新しい会議</h2>
  <div class="form-group">
    <label for="name">会議名</label>
    <input type="text" class="form-control" formControlName="name" required minlength="1" (blur)="sanitize()">
  </div>

  <div class="form-group">
    <label for="start">開始時間</label>
    <input type="datetime-local" class="form-control" formControlName="start" required>
  </div>

  <div class="form-group">
    <label for="end">終了時間</label>
    <input type="datetime-local" class="form-control" formControlName="end" required>
  </div>

  <h2>メンバー</h2>
  <div formArrayName="members">
    <div *ngFor="let member of getMembers().controls; index as i;">
      <div [formGroupName]="i">
        <div class="form-group">
          <label for="end">名前</label>
          <input type="text" class="form-control" formControlName="memberName" required>
        </div>
        <div class="form-group">
          <label for="end">時給</label>
          <input type="number" class="form-control" formControlName="hourly" min="1">
        </div>
        <button type="button" (click)="removeMember(i)" class="btn btn-outline-danger">削除</button>
      </div>
    </div>
  </div>

  <button type="button" (click)="newMember()" class="btn btn-secondary">メンバーを追加</button>
  <!-- (後から追加もできます) -->

  <!-- <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="hiddenMemberPay">
      <label for="hiddenMemberPay">時給を隠す</label>
    </div>
  </div> -->

  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="agree" required>
      <label for="agree">この会議を有意義なものにします</label>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid || requesting" class="btn btn-primary">会議を作る</button>
</form>
