<h3 style="text-align: center;" *ngIf="(summary | async) as summary;">
  世界で{{summary.meetings}}回のミーティングが行われました。<br>
  合計で{{summary.times}}分をミーティングに使って<br>
  実に{{summary.amounts}}円もの価値を生み出しました。
</h3>

<div style="text-align: center; margin-top: 32px;">
  <a class="btn btn-primary" routerLink="generate">有意義なミーティングをはじめる</a>
</div>

<div class="container">
  <h4 style="margin-top: 32px;">使い方</h4>

  <ol style="font-size: large;font-weight: bold;">
    <li>上司からあなたにミーティングの依頼が届きます。<div class="display-3">😀　💁🗯</div></li>
    <li>まずはそのミーティングが必要かどうか考えましょう。<div class="display-3" li>🤔</div></li>
    <li>そんなものは考える間も無く、しなければならないものと気付きます。<div class="display-3" li>😰</div></li>
    <li>そこでMeeting is Moenyをおもむろに開き、「有意義なミーティングをはじめる」ボタンを押します。<div class="display-3" li>🖥 👆</div></li>
    <li>会議の時間と出席者の名前と時給を入力したら準備完了です。<div class="display-3" li>⌨️ 👍</div></li>
    <li>時間になったら「会議をはじめる」ボタンを押します。会議が進むたびみなさんの人件費がリアルタイムで加算されていき、非常に実りのある会議の場の助けをしてくれるでしょう。<br><div class="display-4">💁🗯🙅‍♀️　🤑</div></li>
    <li>会議が終わったら「会議を終了する」ボタンを押します。最終的にいくらになったのかを確認して、時間とお金の大事さを感じましょう。<br><div class="display-3">🕗🤗💸</div></li>
    <li>おいしいものでも食べに行きましょう。<div class="display-2">🍣🍜🍻</div></li>
  </ol>

</div>
